ErrorDocument 403 index.html
ErrorDocument 404 index.html
RewriteEngine on
RewriteBase /~s2410303/
RewriteRule ^index\.html$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . index.html [L]
